.page-header__menu ul li {
  a {
    cursor: pointer;
    transition: color 300ms ease;
  }

  a::after {
    display: block;
    width: 0;
    right: 0;
    left: inherit;
    transition: width 300ms ease, background-color 300ms ease;
  }

  a:hover::after,
  a:focus::after {
    width: 100%;
    right: auto;
    left: 0;
  }

  .active::after {
    width: 100%;
  }
}

.social-block {
  &:hover .social-block__list {
    transition: opacity 300ms ease;
  }

  &__link:hover,
  &__toggler {
    transition: color 300ms ease;

    .social-block--active & {
      transition: color 300ms ease;

      &::before {
        transition: height 300ms ease, width 300ms ease;
      }
    }
  }
}

.intro__message {
  animation: slideFromTop 1000ms ease-in-out both 500ms, fadeIn 1000ms ease-in-out both 500ms;
}

.slider__item {
  &-text {
    animation: slideFromLeft 500ms ease-in-out both, fadeIn 500ms ease-in-out both;
  }

  &:nth-child(2) {
    .slider__item-text {
      animation: slideFromLeft 500ms ease-in-out both 250ms, fadeIn 500ms ease-in-out both 250ms;
    }
  }
}

.form {
  justify-content: flex-end;
}

.form__field {
  transition: border 300ms ease;
  animation: slideFullWidth 1000ms cubic-bezier(0.39, 0.58, 0.57, 1) both 250ms, fadeIn 100ms ease-in-out both 250ms;
}

.btn {
  transition: color 300ms ease;
  max-width: 180px;
}

.page-header {
  opacity: 0;
  transform: translateX(40px);
  transition: opacity 1000ms cubic-bezier(0, 0.5, 0.3, 1), transform 1000ms cubic-bezier(0, 0.5, 0.3, 1);
}

.body_loaded .page-header {
  opacity: 1;
  transform: translateX(0);
}

.page-header__logo {
  opacity: 0;
  transform: translateX(-80px);
  transition: opacity 1000ms cubic-bezier(0, 0.5, 0.3, 1), transform 1000ms cubic-bezier(0, 0.5, 0.3, 1);
}

.body_loaded .page-header__logo {
  opacity: 1;
  transform: translateX(0);
}

.screen__footer {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1000ms cubic-bezier(0, 0.5, 0.3, 1), transform 1000ms cubic-bezier(0, 0.5, 0.3, 1);
}

.body_loaded .screen__footer {
  opacity: 1;
  transform: translateY(0);
}

.screen__background-hidden {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #5f458c;
  z-index: 1;
}

.screen__background-hidden_state_active {
  animation: slideFillHeight 500ms ease-out both;
}

.screen__background-hidden_state_non-active {
  animation: fadeOut 500ms ease-in-out both, slideEmptyHeight 1ms ease-in-out both 500ms;
}

.screen--prizes {
  background-color: inherit;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideFullWidth {
  0% {
    width: 0;
  }

  100% {
    width: calc(100% - 21rem);
  }
}

@keyframes slideFillHeight {
  from {
    height: 0;
  }

  to {
    height: 100vh;
  }
}

@keyframes slideEmptyHeight {
  from {
    height: 100vh;
  }

  to {
    height: 0;
  }
}
